.iconMenu {
    display: none;
    font-size: 2.2rem;
    cursor: pointer;
    z-index: 1000;
    position: absolute;
    top: 1.5rem;
    right: 5rem;
}

.estilo {
    display: none;
}

@media (max-width:1050px) {
    .iconMenu {
        display: block;
    }
}