.valoresSection {
    min-height: 50vh;
    background-color: #43718B;
}

.areaImagem {
    width: 50rem;
    height: 50rem;
    margin: 0 auto;
    position: relative;
}
.imagemBuki {
    width: 50rem;
    z-index: 1000;
}

/* Palavras */
.container {
    position: relative;
    height: 100%;
    width: 100%;
}

.box {
    position: absolute;
    background-color: red;
}

.palavra1 {
    display: inline-block;
    position: relative;
    left: 27%;
    top: 4rem;
}