.seguraTexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40rem;
}

.titulo {
    color: var(--primary-color);
    font-weight: lighter;
    font-size: 3rem;
}

.tituloForte {
    font-weight: 600;
}

.paragrafo {
    color: var(--yellow);
    font-size: 3rem;
}