.comoArtista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50rem;
    background-color: #fff;
    color: var(--primary-color);
    padding: 0 9%;
}

.comoArtista h2 {
    font-size: 6.2rem;
    font-family: "Prata", sans-serif;
    font-weight: bold;
}

.comoArtista p {
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    text-align: center;
}

.comoArtista p span {
    font-weight: 600;
}

.comoArtista button {
    background: var(--primary-color);
    padding: 1.5rem 2.5rem;
    color: #fff;
    margin-top: 2.5rem;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.comoArtista button:hover {
    box-shadow: 0 .5rem 1rem var(--secondary-blue-color);
}


@media (max-width: 1200px) { 
    html {
        font-size: 58%;
    }
}


@media (max-width: 1020px) { 
    html {
        font-size: 57%;
    }

}

@media (max-width: 992px) {
    html {
        font-size: 55%;
    }  

}

@media (max-width: 728px) {
    html {
        font-size: 53%;
    }

    .comoArtista {
        padding: 6rem 0;
    }
}

@media (max-width: 442px) {
    html {
        font-size: 52%;
    }
}
